/*definir cor de fundo para o cabecalho.*/
.cabecalho{
    background-color: #0000FF;
    text-align: center;
}

/*Aplcar fonte serifada.*/
h1{font-family:'Times New Roman', Times, serif;
}
h2{font-family: 'Times New Roman', Times, serif;
}

/*Negritar links.*/
nav ul li{
    font-weight:bolder;
}

/*Definir margem interna (20px - #container).*/
#container{
    padding: 20px;
}

/*Espaçamento para conteúdo (1.5).*/
#conteudo{
    line-height: 1.5;
}

/*Estilização formulário de contato (borda sólida de 1 pixel, cor cinza e padding interno de 10 pixels).*/
#contact{
    padding: 10px;
    border: solid 1px #808080;
}

/*Aplique uma cor de texto verde para todos os parágrafos (<p>).*/
p{
    color: #008000;
}
/*Alteração cor button.*/
button{
    background-color: #0000ff;
    color: #ffffff;
}

/*Borda para rodape.*/
footer{
    border-top: solid 2px #ff0000;
}